<div class="contact">
  <div class="wrap">
    <div class="section group">
      <div class="col span_2_of_3">
        <div class="contact-form">

        <h1>New Notification</h1>

<%= render 'form' %>

<%= link_to 'Back', notifications_path %>
        </div>
      </div>
    </div>
  </div>
</div>
