<h1>New Group</h1>
<%= link_to 'Back', groups_path,class:"btn mybutton" %>

<div class="row">
            <div class="col-md-6">
              <%= render 'form' %>
            </div>
            <div id="users-container" class="wrap solid col-md-6">
            </div>

          </div>
